.container {
}

.item {
}

.wrapper__item {
    height: 650px;
}

.image {
    width: 100%;
}

.slick-dots {
    position: absolute;
    bottom: 6px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}